.cover-page{
    text-align: center;
    margin: 7em;
    padding: 3em;
}
.input-date{
    width:25%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}
.input-date:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }

/* .container{
  width:50%;
  border:6px solid #13D0AB;
  border-color:#13D0AB;
} */
.container{
  width:50%;
  border:6px solid #319984;
  border-color:#319984;
}
.img-hotel{
  width: 300px;
  height: 250px;
}
